body {
    font-family:Arial;
}
 
.top-navbar {
    border:1px solid #2868a1;
    height:40px;
    width:100%;
    background-color:#2868a1;
    color:white;
}

.top-nav-items {
    margin-top:15px;
    display:flex;  
    justify-content:right;
    gap:20px; 
    margin-right:50px; 
    font-weight:bold;
    font-size:10px;
} 

.nav-main-items:hover {
    color:#00A3D9;
} 

.second-navbar {
    border:1px hidden green;
    width:100%;
    height:70px;
    display:flex;
    font-size:13px;
}

.main-items {
    font-weight:bold;
    align-items:center;
    width:50%;
    display:flex;
    justify-content:space-evenly;
    color:#143552;
    
    
}  

.main-items a:hover {
    color:#00A3D9;
} 

.sign-in-button {
    font-weight:bold;
    margin-left:500px;
    padding-top:25px;
    color:#00A3D9;
}
    
.sign-in-button:hover {
    color:#143552; 
} 

header {
    border:1px solid green;
    text-align:center;
    width: 100%;
    height:500px;
    background-image: url(Subaru.jpg);
    background-size:100% 500px;
} 
.header-main {

    margin-top:90px;
    margin-bottom:auto;
} 

h1 {
    font-size:50px;
    color:white;
    font-weight:bold;
}

input {
    border-radius:;
    font-size:17px;
    margin-bottom:15px;
    position:relative;
    padding:20px;
    width:56.5%;
    
}

button {
    border-radius:3px;
    position:absolute;
    margin-left:-66.5px;
    font-size:13px;
    padding:22.5px;
    background-color:green;
    color:white;
    border:1px solid green;
} 
     

.vehicle-type-grid {
    margin-left:auto;
    margin-right:auto;
    height:20%;
    width:60%;
    display:grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(5,1fr);
}

.vehicle-types {
    background-color:#2f7eed;
    color:white;
    padding:20px;
    border:1px hidden black;
    border-radius:5px;
    
} 

#one {
    grid-column:1/5;
    grid-row:1/3;
      
} 

#two {
    grid-column:6/10;
    grid-row:1/3;
}

#three {
    grid-column:11/15;
    grid-row:1/3;  

} 

#four {
    grid-column:1/5;
    grid-row:4/6;
}

#five {
    grid-column:6/10;
    grid-row:4/6; 
}

#six {
    grid-column:11/15;
    grid-row:4/6;

}