body {
    font-family:Arial;
}
 
.top-navbar {
    border:1px solid #2868a1;
    height:40px;
    width:100%;
    background-color:#2868a1;
    color:white;
}

.top-nav-items {
    margin-top:15px;
    display:flex;  
    justify-content:right;
    gap:20px; 
    margin-right:50px; 
    font-weight:bold;
    font-size:10px;
} 

.nav-main-items:hover {
    color:#00A3D9;
} 

.second-navbar {
    border:1px hidden green;
    width:100%;
    height:70px;
    display:flex;
    font-size:13px;
}

.main-items {
    font-weight:bold;
    align-items:center;
    width:50%;
    display:flex;
    justify-content:space-evenly;
    color:#143552;
    
    
}  

.main-items a:hover {
    color:#00A3D9;
} 

.sign-in-button {
    font-weight:bold;
    margin-left:500px;
    padding-top:25px;
    color:#00A3D9;
}
    
.sign-in-button:hover {
    color:#143552; 
} 

header {
    border:1px solid green;
    text-align:center;
    width: 100%;
    height:500px;
    background-image: url(./images/Subaru.jpg);
    background-size:100% 500px;
} 
.header-main {

    margin-top:90px;
    margin-bottom:auto;
} 

h1 {
    font-size:50px;
    color:white;
    font-weight:bold;
}

input {
    border-radius:;
    font-size:17px;
    margin-bottom:15px;
    position:relative;
    padding:20px;
    width:56.5%;
    
}

button {
    border-radius:3px;
    position:absolute;
    margin-left:-66.5px;
    font-size:13px;
    padding:22.5px;
    background-color:green;
    color:white;
    border:1px solid green;
} 
     

.vehicle-type-grid {
    margin-left:auto;
    margin-right:auto;
    height:20%;
    width:60%;
    display:grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(5,1fr);
}

.vehicle-types {
    background-color:#2f7eed;
    color:white;
    padding:20px;
    border:1px hidden black;
    border-radius:5px;
    
} 

#one {
    grid-column:1/5;
    grid-row:1/3;
      
} 

#two {
    grid-column:6/10;
    grid-row:1/3;
}

#three {
    grid-column:11/15;
    grid-row:1/3;  

} 

#four {
    grid-column:1/5;
    grid-row:4/6;
}

#five {
    grid-column:6/10;
    grid-row:4/6; 
}

#six {
    grid-column:11/15;
    grid-row:4/6;

}

.section-one {
    display:flex;
    flex-direction:row;
    width:100%;
    height:300px;
    gap:15px;
    justify-content:center;
    align-items:center;
} 

.choice {
    display:flex;
    flex-direction:row;
    border:1px solid gray;
    width:47%;
    height:200px;
    border-radius:3px; 
} 

.choice img {
    width:40%;
    height:auto;
} 

.right-section {
    width:475px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly; 
    align-items:center;
    gap:5px;
} 

.right-section h2 { 
   color:#143552;
    
} 

.right-section p {
    position:relative;
    bottom:40px;
    color:#143552;
} 

.right-section button {
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border:1px solid #00A3D9;
    background-color:white;
    color:#00A3D9;
    position:relative;
    bottom:20px;
    border-radius:2px;
    
}  

.right-section button:hover {
    background-color:#00A3D9;
    color:white;
} 

.section-two {
    background-color:#ebe8e8;
    border:1px solid #ebe8e8;
} 

.section-two h3 {
    position:relative;
    left:40px;
    font-weight:bold;
    font-size:25px;
    margin-top:70px;
    margin-bottom:50px;
    color:#143552;
} 

.grid-container {
    display:grid;
    grid-template-columns: 47% 47%;
    grid-template-rows:100px 100px 100px;
    grid-auto-flow:row;
    justify-content:center;
    gap:15px;
    
}  

#honda {
    grid-column:1/2;
    grid-row:1/2;
    background-color:blue;
} 

#ford {
    grid-column:2/3;
    grid-row:1/2;
    background-color:red;
} 

#toyota {
    grid-column:1/2;
    grid-row:2/3;
    background-color:green;
} 
    
#chevy {
    grid-column:2/3;
    grid-row:2/3;
    background-color:yellow;
} 

#nissan {
    grid-column:1/2;
    grid-row:3/4;
    background-color:tan;
} 

#mustang {
    grid-column:2/3;
    grid-row:3/4;
    background-color:orange;
} 

.grid-container div {
    border-radius:5px;
}  

#view-button {
    position:relative;
    left:525px;
    padding-left:100px;
    padding-right:100px;
    margin-top:60px;
    margin-bottom:60px;
    border:1px solid #00A3D9;
    background-color:white;
    color:#00A3D9;
    border-radius:2px;    
} 

#view-button:hover {
    background-color:#00A3D9;
    color:white;
} 