html {
    margin:0;
    height: 100vh;
    width: 100vw;
}

body {
    font-family:Arial;
    margin:0;
    height: 100vh;
    width: 100vw;
}
 
.top-navbar {
    border:1px solid #2868a1;
    height:40px;
    width:100%;
    background-color:#2868a1;
    color:white;
}

.top-nav-items {
    margin-top:15px;
    display:flex;  
    justify-content:right;
    gap:20px; 
    margin-right:50px; 
    font-weight:bold;
    font-size:10px;
} 

.nav-main-items:hover {
    color:#00A3D9;
} 

.second-navbar {
    width:100%;
    height:70px;
    display:flex;
    font-size:13px;
}

.main-items {
    font-weight:bold;
    align-items:center;
    width:50%;
    display:flex;
    justify-content:space-evenly;
    color:#143552;
    
    
}  

.main-items a:hover {
    color:#00A3D9;
} 

.sign-in-button {
    font-weight:bold;
    margin-left:500px;
    padding-top:25px;
    color:#00A3D9;
}
    
.sign-in-button:hover {
    color:#143552; 
} 

header {
    border: 1px solid black;
    text-align:center;
    width: 100%;
    height:500px;
    background-image: url(./images/Subaru.jpg);
    background-size:100% 500px;
} 
.header-main {

    margin-top:90px;
    margin-bottom:auto;
} 

h1 {
    font-size:50px;
    color:white;
    font-weight:bold;
}

input {
    font-size:17px;
    margin-bottom:15px;
    position:relative;
    padding:20px;
    width:56.5%;
    
}

.section-one button, .section-two button, .header-main button{
    border-radius:3px;
    position:absolute;
    margin-left:-66.5px;
    font-size:13px;
    padding:22.5px;
    background-color:#18a843;
    color:white;
    border:1px solid green;
} 

.header-main button:hover {
    background-color:green;
} 
     

.vehicle-type-grid {
    margin-left:auto;
    margin-right:auto;
    height:20%;
    width:60%;
    display:grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(5,1fr);
}

.vehicle-types {
    background-color:#2f7eed;
    color:white;
    padding:20px;
    border:1px hidden black;
    border-radius:5px;
    
} 

#one {
    grid-column:1/5;
    grid-row:1/3;
      
} 

#two {
    grid-column:6/10;
    grid-row:1/3;
}

#three {
    grid-column:11/15;
    grid-row:1/3;  

} 

#four {
    grid-column:1/5;
    grid-row:4/6;
}

#five {
    grid-column:6/10;
    grid-row:4/6; 
}

#six {
    grid-column:11/15;
    grid-row:4/6;

}

.section-one {
    display:flex;
    flex-direction:row;
    width:100%;
    height:300px;
    gap:15px;
    justify-content:center;
    align-items:center;
} 

.choice {
    display:flex;
    flex-direction:row;
    border:1px solid gray;
    width:47%;
    height:200px;
    border-radius:3px; 
} 

.choice img {
    width:40%;
    height:auto;
} 

.right-section {
    width:475px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly; 
    align-items:center;
    gap:5px;
} 

.right-section h2 { 
   color:#143552;
    
} 

.right-section p {
    position:relative;
    bottom:40px;
    color:#143552;
} 

.right-section button {
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    border:1px solid #00A3D9;
    background-color:white;
    color:#00A3D9;
    position:relative;
    bottom:20px;
    border-radius:2px;
    
}  

.right-section button:hover {
    background-color:#00A3D9;
    color:white;
} 

.section-two {
    background-color:#ebe8e8;
    border:1px solid #ebe8e8;
} 

.section-two h3 {
    position:relative;
    left:40px;
    font-weight:bold;
    font-size:25px;
    margin-top:70px;
    margin-bottom:50px;
    color:#143552;
} 

.grid-container {
    display:grid;
    grid-template-columns: 47% 47%;
    grid-template-rows:100px 100px 100px;
    grid-auto-flow:row;
    justify-content:center;
    gap:15px;
    
}  

#honda {
    grid-column:1/2;
    grid-row:1/2;
    
} 


#ford {
    grid-column:2/3;
    grid-row:1/2;
    
} 

#toyota {
    grid-column:1/2;
    grid-row:2/3;
    
} 
    
#chevy {
    grid-column:2/3;
    grid-row:2/3;
    
} 

#nissan {
    grid-column:1/2;
    grid-row:3/4;
    
} 

#mustang {
    grid-column:2/3;
    grid-row:3/4;
    
} 

.make {
    border-radius:5px;
    display:flex;
    background-color:white;
    align-items:center;
    overflow:hidden;
    font-weight:bold;
    font-size:22px;
}  

#view-button {
    position:relative;
    left: 43%;
    padding-left:100px;
    padding-right:100px;
    margin-top:60px;
    margin-bottom:60px;
    border:1px solid #00A3D9;
    background-color:white;
    color:#00A3D9;
    border-radius:2px;    
} 

#view-button:hover {
    background-color:#00A3D9;
    color:white;
} 

.make:hover {
    box-shadow:2px 2px 4px lightgray;
} 

.make img {
    width:130px;
    height:70px;
    position:absolute;
    left:50px;
}


.circle {
    position:relative;
    width:150px;
    height:150px;
    background-color:#2f7eed;
    border-radius:100px;
    right:40px;
} 

#honda p {
    position:absolute;
    left:225px;
}

#toyota p {
    position:absolute;
    left:225px;
}


#nissan p {
    position:absolute;
    left:225px;
}

#ford p {
    position:absolute;
    left:795px;
}

#chevy p {
    position:absolute;
    left:795px;
}

#mustang p {
    position:absolute;
    left:795px;
}

#ford img, #chevy img, #mustang img {
    left:635px;
} 

span {
    color:white;
    
} 

#last-item{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    bottom:5px;
} 

.section-three {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:125px;
} 

.featured-section {
    margin-top:50px;
    width:90%;
    height:300px;
}

.featured-section img {
    width:100%;
    height:300px;
    position:relative;
}

.featured-section h4 {
    position:absolute;
    z-index:2;
    font-size:30px;
    left:100px;
    color:white;
    
}  


.featured-section p {
    position:relative;
    z-index:3;
    bottom:185px;
    left:30px;
    color:white;
    
}  


 
.featured-section button {
    position:relative;
    width:200px;
    z-index:4;
    bottom:150px;
    left:75px;
    border:1px solid black;
    padding:20px;
}  

.tables {
    width:95%;
    margin-bottom:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
}  

table {
    width:70%;
    height:200px;
}  

caption {
    text-align: left;
    color:#143552;
    font-weight:bold;
} 

td {
    color:#00A3D9;
    width:175px;
    height:30px;
} 

.more {
    font-weight:bold;
} 


#ford img, #chevy img, #mustang img {
    position: absolute;
    left: 53%;
}

#ford p, #chevy p, #mustang p {
    position: absolute;
    left: 65%;
}

.header-main button {
    background-color: #2868a1;;
    height: 65px;
    border:none;
    border: 2px solid #2868a1;
}